<div class="feed-container columns">
  <% if flash[:registration_failure] %>
    <p class="center failure"><%= flash[:registration_failure] %></p>
  <% end %>
  <% if current_user.accounts.empty? %>
    <div class="networks-container">
      <p>
        Click on one of the providers below or visit "My Account" to link an
        account and get started!
      </p>
      <%= link_to(image_tag("instagram_logo.png", class: "network-logo"), "/auth/instagram") %>
      <%= link_to(image_tag("twitter_logo.png", class: "network-logo"), "/auth/twitter") %>
      <%= link_to(image_tag("facebook_logo.png", class: "network-logo"), "/auth/facebook") %>
    </div>

  <% else %>
    <div ng-controller="FeedController as feed" ng-init="initialFeed()">
      <div class="feed-content-container" ng-if="posts.errors">
        <p class="center">{{posts.error}}</p>
      </div>
      <div class="feed-content-container" ng-if="posts.success">
        <div class="individual-post column two-thirds" ng-repeat="post in posts.body">
          <instagram-post ng-if="post.provider == 'instagram'"></instagram-post>
          <twitter-post ng-if="post.provider == 'twitter'"></twitter-post>
          <facebook-post ng-if="post.provider == 'facebook'"></facebook-post>
        </div>
        <div class="column two-thirds load-more-container">
          <a ng-click="nextFeed()" class="load-more-link">Load more posts</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
