<div class="feed-container columns">
  <%= flash[:twitter_success] %>
  <% if flash[:registration_failure] %>
    <p class="center failure"><%= flash[:registration_failure] %></p>
  <% end %>
  <% if current_user.accounts.empty? %>
    <p>You don't have any accounts</p>
  <% else %>
    <div ng-controller="FeedController as feed" ng-init="initialFeed()">
      <div class="feed-content-container" ng-if="posts.success">
        <div class="individual-post column two-thirds" ng-repeat="post in posts.body" data-instagram-post-id="{{post.id}}">
          <post-control></post-control>
        </div>
        <div class="column two-thirds load-more-container">
          <a ng-click="nextFeed()" class="load-more-link">Load more posts</a>
        </div>
      </div>
      <div class="feed-content-container" ng-if="posts.success === false">
        <p class="center">Your account is no longer authorized. Please reauthorize your Instagram account by visiting
          your account page.</p>
      </div>
    </div>
  <% end %>
</div>
