INSTAGRAM_CLIENT_ID=<YOUR INSTAGRAM CLIENT ID>
INSTAGRAM_CLIENT_SECRET=<YOUR INSTAGRAM CLIENT SECRET>
TWITTER_API_KEY=<YOUR TWITTER API KEY>
TWITTER_API_SECRET=<YOUR TWITTER API SECRET>
FACEBOOK_APP_ID=<YOUR FACEBOOK APP ID>
FACEBOOK_APP_SECRET=<YOUR FACEBOOK APP SECRET>