<p><%= flash[:expired_token] %></p>
<%= form_for @user, url: "/passwords", html: {class: "reset-password-form"} do |f| %>
  <p>Enter your email for more instructions on how to reset your password</p>
  <%= f.email_field :email, placeholder: "jane@example.com" %>
  <%= f.submit "Send Email" %>
<% end %>