.feed-container {
  overflow: hidden;
  margin: 1em 0 5em 0;
}

.individual-post {
  background: $main-gray;
  margin-bottom: .5em;
  word-wrap: break-word;
  overflow: hidden;
  padding: 1em;

  &:last-child {
    margin-bottom: 2em;
  }

  .post-main {
    li {
      display: inline-block;
      margin-left: .25em;
      &:first-child {
        margin: 0;
      }
    }
  }
}

.post-header {
  border-bottom: 1px solid $background-gray;

  ul {
    margin-bottom: .5em;
  }

  .network-logo-container {
    float: right;
  }
}

.post-main {
  .post-content {
    border-bottom: 1px solid $background-gray;

    ul {
      margin: .75em 0 .5em;

      li {
        display: block;
      }
    }
  }
}

.post-interactive {
  ul {
    margin-top: .5em;
  }
}

.load-more-container {
  background: $main-gray;
  padding: 1em;
  text-align: center;
  a {
    color: $brand-green;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: $hover-green;
    }
  }
}