@import "neat-helpers";

// Neat Breakpoints
//$visual_grid: true;
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

.columns {
  @include row;
}

.column {

  &.half {
    @include span-columns(6);
  }

  &.fourth {
    @include span-columns(3);
  }

  &.three-fourths {
    @include span-columns(9)
  }

  &.one-third {
    @include span-columns(10);
    @include media($large-screen) {
      @include span-columns(4);
    }
  }

  &.two-thirds {
    @include span-columns(10);
    @include media($large-screen) {
      @include span-columns(8);
    }
  }
}