header {
  background: $main-gray;
  box-shadow: 0 0 1.25px $box-shadow-gray;
  padding: 10px 0 0;
  overflow: hidden;

  .field_with_errors {
    display: inline-block;
  }
}

nav {
  @include outer-container;
  margin-left: 1.25em;
  @include media($large-screen) {
    @include outer-container;
  }

  .forgot-password-link {
    margin-right: 4em;
    color: $brand-green;
    text-decoration: none;
    transition: color 500ms ease, text-decoration 500ms ease;
    &:hover {
      color: $hover-green;
      text-decoration: underline;
    }
  }
}

.main-nav-container {
  float: right;
  text-align: right;
  margin-top: 1.8em;
  li {
    display: inline-block;
  }
}

.site-logo {
  margin-top: 1.2em;
  clear: both;
  @include media($large-screen) {
    float: left;
  }
}

.main-nav-link {
  border: 1px solid transparent;
  color: $brand-green;
  padding: 8px;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    background: $brand-green;
    color: $white;
    padding: 8px;
  }
}