.homepage-background-fade {
  background: rgba(225, 225, 225, .8);
  height: 100%;
}

.homepage-wrapper {
  height: 89%;
  background: image-url('homepage_background.jpg') center bottom;
  background-size: cover;
}

.registration-container {
}

.homepage-marketing {
  ul {
    list-style: square;
  }
  li {
    margin: 0 3em .75em;
  }
}