.network-logo {
  height: 50px;
}

.user-profile-picture,
.friend-profile-picture,
.profile-picture {
  height: 50px;
  border-radius: 3px;
}

.provider-image {
  max-height: 400px;
  max-width: 100%;
}