$main-font: 'Open Sans', sans-serif;

html {
  font-size: 1em;
}

body {
  font-family: $main-font;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4, label {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small, .font_small {
  font-size: 0.75em;
}

a {
  color: $brand-green;
  text-decoration: none;
  &:hover {
    color: $hover-green;
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

.main-link {
  color: $brand-green;
  width: auto;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post-link:hover {
  text-decoration: none;
  color: $hover-green;
}

img, a {
  &:active, &:focus {
    outline-color: $brand-green;
  }
}

.forgot-password-link {
  margin-bottom: .5em;
}
