<div class="post-main">
  <div class="post-header">
    <ul>
      <li>
        <a href="https://www.facebook.com/app_scoped_user_id/{{post.from.id}}" target="_blank">
          <img ng-src="assets/default_user_image.png" class="user-profile-picture">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/app_scoped_user_id/{{post.from.id}}" target="_blank">
          {{post.from.name}}
        </a>
      </li>
      <li ng-if="post.to && post.to.data.length == 1"><%= image_tag("arrow.svg") %></li>
      <li ng-if="post.to && post.to.data.length == 1">
        <a href="https://www.facebook.com/app_scoped_user_id/{{post.to.id}}" target="_blank">
          <img ng-src="assets/default_user_image.png" class="friend-profile-picture">
        </a>
      </li>
      <li ng-if="post.to && post.to.data.length == 1">
        <a href="https://www.facebook.com/app_scoped_user_id/{{post.to.data[0].id}}" target="_blank">
          {{post.to.data[0].name}}
        </a>
      </li>
      <li>
        <time>{{post.created_at * 1000 | fromNow}}</time>
      </li>
      <li class="network-logo-container">
        <img ng-src="assets/facebook_logo.png" class="network-logo">
      </li>
    </ul>
    <div class="subheader" ng-if="post.application.name">
      <ul>
        <li>via {{post.application.name}}</li>
      </ul>
    </div>
  </div>
  <div class="post-content">
    <ul>
      <li ng-if="post.source">
        <video ng-src="{{post.source}}" controls></video>
      </li>
      <li ng-if="post.picture && !post.source">
        <img class="provider-image" ng-src="{{post.picture}}"/>
      </li>
      <li ng-if="post.story" ng-bind-html="post.story | linky:'_blank'">
        {{post.story}}
      </li>
      <li ng-if="post.message" ng-bind-html="post.message | linky:'_blank'">
        {{post.message}}
      </li>
      <li ng-if="post.caption_text && post.status_type != 'shared_story'" ng-bind-html="post.caption_text | linky:'_blank'">
        {{post.caption_text}}
      </li>
      <li ng-if="post.article_link && post.type == 'link'">
        <a hre="{{post.article_link}}">View Link</a>
      </li>
    </ul>
  </div>
  <div class="post-interactive">
    <ul>
      <span ng-switch on="post">
        <li ng-switch-when="post.comments"><img ng-src="assets/comment.svg"> {{post.comments.length}}</li>
        <li ng-switch-default><img ng-src="assets/comment.svg"> 0</li>
      </span>
      <span ng-switch on="post">
        <li ng-switch-when="post.likes.data"><img ng-src="assets/like.svg"> {{post.likes.data.length}}</li>
        <li ng-switch-default><img ng-src="assets/like.svg"> 0</li>
      </span>
      <li><a class="main-link post-link" href="{{post.actions[0].link}}" target="_blank">View</a></li>
    </ul>
  </div>
</div>