<div class="columns">
  <div class="link-accounts-container column half">
    <h4 class="center">Link your networks to begin streaming feeds and interacting with your friends!</h4>

    <div class="networks-container">
      <%= link_to(image_tag("instagram_logo.png", class: "network-logo"), "/auth/instagram") %>
      <%= link_to(image_tag("twitter_logo.png", class: "network-logo"), "/auth/twitter") %>
      <%= link_to(image_tag("facebook_logo.png", class: "network-logo"), "/auth/facebook") %>
    </div>
  </div>
</div>